@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque:wght@400;600&display=swap');

.toolbar {
    font-family: 'Darker Grotesque', sans-serif;
    background-color: black;
    color: white;
    height: 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 0 15px;
}

.toolbar-left .social-icon {
    margin-right: 10px;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 14px;
}

.toolbar-right span {
    font-size: 14px;
    text-transform: uppercase;
}